<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties>
  	<property name="username" value="scott"/>
  </properties>
  <!-- <settings>
  	<setting name="jdbcTypeForNull" value="Null"/>
  </settings> -->
  <typeAliases>
  	<typeAlias alias="RepBoard" type="com.my.vo.RepBoard"/>
  	<typeAlias alias="Customer" type="com.my.vo.Customer"/>
  	<typeAlias alias="Product" type="com.my.vo.Product"/>
  	<typeAlias alias="OrderInfo" type="com.my.vo.OrderInfo"/>
  	<typeAlias alias="OrderLine" type="com.my.vo.OrderLine"/>
  </typeAliases>
  <mappers>
    <mapper resource="boardMapper.xml"/>
    <mapper resource="customerMapper.xml"/>
    <mapper resource="productMapper.xml"/>
    <mapper resource="orderMapper.xml"/>
  </mappers>
</configuration>